<%- include('../_layouts/adminheader'); %>

<h2 class="class page">Páginas </h2>
<a href="/admin/pages/add-page" class="btn btn-primary">Nova página</a>

<br><br>

<table class="table table-striped">

    <thead>
        <tr>
            <th>Título</th>
            <th>Editar</th>
            <th>Apagar</th>
        </tr>
    </thead>

    <tbody>
        <% pages.forEach(function(page){ %>
        <tr id="id_<%= page._id %>" class="<%= page.slug %>">
            <td><%= page.title %></td>
            <td><a href="/admin/pages/edit-page/<%= page._id %>">Editar</a></td>
            <% if (page.slug == "home") { %>
            <td></td>
            <% }  else {%>
            <td><a class="confirmDeletion" href="/admin/pages/delete-page/<%= page._id %>">Apagar</a></td>
            <% }%>
        </tr>
        <% }); %>
    </tbody>

</table>


<%- include('../_layouts/adminfooter'); %>



